body {
    margin: 2rem;      
    background-image: url("background.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
  #wrapper {
    padding-left: 10rem;
    padding-right: 10rem;
  } 

   th, td {
    padding: .5rem;
    color: indigo;
  }
  td:hover {
    background-color: lightblue;
  } 
  h1 {
      color: indigo;
      text-align: center;
      
  }


 
